<div class="page-header">
    <h1><small>Notificação</small></h1>
</div>
<div *ngIf="!renderizeNotification">
    <div class="row">
        <div class="col-md-12">
            <input type="text" placeholder="Digite o título..." class="form-control" [(ngModel)]="filterNotification">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6 col-md-4" *ngFor="let notification of notifications | filterList: filterNotification : 'title'">
            <div class="thumbnail">
                <img *ngIf="notification.img" [src]="notification.img" alt="...">
                <div class="caption">
                    <h3>{{notification.title}}</h3>
                    <p>{{notification.subtitle}}</p>
                    <p>
                        <a class="btn btn-primary" (click)="openNotification(notification)" role="button">Abrir</a>
                        <!-- <a class="btn btn-default" role="button">Marcar como lida</a></p> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="renderizeNotification">
    <app-open-notification [notification]="selectedNotification"></app-open-notification>
    <button class="btn btn-primary pull-right" (click)="backNotification()">Voltar</button>
</div>