<div class="page-header">
    <h1><small>Gerenciamento de aulas</small></h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <label>Buscar dia</label>
            <input type="date" placeholder="ex: 12/12/2018" class="form-control form-control-sm" />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <button (click)="oldClass()" *ngIf="!newAulaControl" align="center" class="form-control form-control-sm">Nova
                aula</button>
        </div>
        <div class="col-md-3">
            <button (click)="newClass()" *ngIf="newAulaControl" align="center" class="form-control form-control-sm">Aula
                Antiga</button>
        </div>
    </div>
    <br>
    <div class="row" *ngIf="!newAulaControl">
        <!-- Por default o dia escolhido é o atual. -->
        <div class="col-md-6">
            <div class="row-fluid">
                <label>Aula realizada ou agendada ?</label><br>
                <input type="radio">Agendada<br>
                <input type="radio">Realizada
            </div>
        </div>
    </div>
    <!-- Lista que se adapta a consulta de aula realizada -->
    <!-- Caso seja aula antiga não se pode editar
    Caso seja aula agendada se pode editar
    Caso seja nova aula pode se inscrever -->
    <div class="row">
        <div class="col-md-4" *ngFor="let currentClass of classRooms">
            <div style="padding-left: 10px;padding-right: 10px" class="jumbotron">
                <h3>{{currentClass.title}}</h3>
                <hr>
                <h5>{{currentClass.dateAndHour}}</h5>
                <h5>Tipo: {{currentClass.type}}</h5>
                <h5>{{currentClass.description}}</h5>
                <h5>Professor: {{currentClass.teacherName}}</h5>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h5>
                            <a class="btn btn-primary btn-lg" (click)="confirmPresence(currentClass)" role="button">
                                {{ currentClass.userConfirmed ? 'Cancelar participação' :'Confirmar presença'}}
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>