tr :hover{
    cursor: pointer;
}

td {
    text-align: center;
}

th {
    text-align: center;
}

:host /deep/ ng2-smart-table thead > tr > th  { 
    color: #3c3c3c;
    text-align: center;
    font-size: 16px;
}

:host /deep/ ng2-smart-table thead > tr > th a { 
    color: #3c3c3c;
}

:host /deep/ ng2-smart-table-cell { 
    color: #3c3c3c;
    font-size: 14px;
    text-align: center;
}


:host /deep/ ng2-smart-table tr :hover { 
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}